.proyecto {
  background-color: #f5f1e8;
}

/* TEXTOS */
.proyecto-text {
  max-width: 90%;
}

@media (min-width: 768px) {
  .proyecto-text {
    max-width: 600px;
  }
}

/* IMAGENES */
img {
  object-fit: cover;
}

/* CARDS */
.card {
  border-radius: 12px;
}